{
  "name": "<%= nameDashed %>",
  "version": "<%= version %>",

  "devDependencies": {
    "grunt": "0.4.5",
    "fabs": "0.12.5",
    "lodash": "3.8.0"
  },

  "engines": {
    "node": ">=0.10.29"
  }
}
